.form {
  background-color: #f0f1f3;
  color: #374150;
  padding: 10px;
  border-radius: 10px;
}

.form .product-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 15px;
}

.form .product-info label {
  color: #374150;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}

.form .product-info .input {
  width: 97%;
  margin: 0 auto;
  padding: 7px 3px;
  color: #6d7481;
  outline: none;
}

.form .product-info .select {
  width: 100%;
}