.header {
  background-color: #1f2936;
  color: #fff;
  padding: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header .title {
  margin: 0;
  font-size: 25px;
  display: flex;
  place-items: center;
}

.header .title img {
  width: 70px;
}

.header .menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}

.header .menu h3 {
  font-size: 16px;
}

.header .menu span {
  margin: 0 15px;
}

@media (min-width: 1024px) {
  .header .title img {
    margin-left: 30px;
  }
}