#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.body-page {
  padding: 0 10px;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}